<h1>New Item</h1>


<%= form_for @item do |f| %>
  <p>
    <%= f.label :sourceUrl %>
    <%= f.text_field :sourceUrl%>
  </p>
  <p>
    <%= f.label :claim %>
    <%= f.text_field :claim%>
  </p>
  <p><%= submit_tag "Submit" %></p>
<% end %>

<%= link_to 'Back', items_path %>
